
body{
    display: flex;

}
.typing-animation{
    display: inline-flex;
    background: #f1f1f1;
    padding: 13px 10px;
    border-radius: 50px;
    margin: 40px auto;


}


.typing-animation .dot{
    height: 10px;
    width: 10px;
    margin: 0 3px;
    opacity: 0.7;
    background-color: gray;
    border-radius: 50%;
    animation: animateDots 1.8s var(--delay) ease-in-out infinite;
}
@keyframes animateDots{
    0%, 44%{
        transform: translateY(0px);
    }
    28%{
        opacity: 0.4;
        transform: translateY(-9px);
    }
    44%{
        opacity: 0.2;
    }
}